.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 180px;
	height: 100%;
	background-size: cover;
}

body {
	background-color: #d9bb22;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0C0A0B;
  overflow: hidden;
  height: 180px;
  top-padding: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #efefef;
  text-align: right;
  padding: 80px 0px;
  margin-right: 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
	color: #d9bb22;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #ffffff;
  text-decoration: underline;
}

.column1 {
	background-color: #1e191a;
	height: 400px;
}

.column2 {
	background-color: #1e191a;
	height: 400px;
}
